@font-face {
  font-family: 'Formular';
  src: url(../../fonts/Formular.ttf);
 }

 @font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Demi Bold'), local('../../fonts/TT-Firs-Neue-Demi-Bold'),
      url('../../fonts/TTFirsNeue-DemiBold.woff2') format('woff2'),
      url('../../fonts/TTFirsNeue-DemiBold.woff') format('woff'),
      url('../../fonts/TTFirsNeue-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}