.basket {
  background: url('../../images/basket.svg') no-repeat center;
  background-size: auto;
  position: relative;

  &__count {
    width: 1.4rem;
    height: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    border-radius: 5rem;
    background-color: black;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
  }
}