.goods {

  &-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(phone) {
      padding: 1rem;
    }
  }

  &__item {
    width: 39rem;
    min-width: 29rem;
    min-height: 32.5rem;
    margin-top: 9rem;
    padding: 12rem 2rem 2rem 2rem;
    background-color: $color-goods;
    border-radius: 30px;
    position: relative;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    @include respond(tab-land) {
      margin: 9rem 3rem 0;
    }
  }

  &__img-wrapper {
    position: absolute;
    top: -3.2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__all-info {

  }

  &__img {

  }

  &__notes {
    
  }

  &__text-wrapper {
    
  }

  &__title {
    margin-bottom: 1rem;
    font-family: 'TT Firs Neue';
    font-size: 2rem;
    line-height: 1.2;

    &--vegan {
      width: 2rem;
      height: 2rem;
      margin: 0 1rem;
      transform: translateY(.3rem);
      display: inline-block;
      background-image: url('../../images/vegan.svg');
      background-repeat: no-repeat;
    }
  }

  &__text {
    max-width: 25rem;
    line-height: 1.5;
    font-family: 'Formular';
    font-size: 1.4rem;
    color: $color-goods-text;
  }

  &__price-wrapper {
    width: 100%;
    max-width: 23.5rem;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: baseline;
    position: absolute;
    bottom: 3rem;

    @include respond(phone) {
      max-width: 22.5rem;
    }
  }

  &__weight {
    width: 7.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    border-radius: 5rem;
    border: 1px solid $color-goods-weight_border;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Formular';
    color: $color-goods-weight_text;
    transform: translateY(-.5rem);
  }

  &__new-price {

  }

  &__old-price {

  }

  &__basket {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 3rem 0;
    background-color: $color-goods-basket;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: $color-goods-basket_hover; 
    }

    @include respond(phone) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__slider {

  }
}