.notes {
  flex-direction: column;
  display: flex;
  position: absolute;
  bottom: 0;
  left: -5rem;

  &__item {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
    background-repeat: no-repeat;

    &--hot {
      background-image: url('../../images/hot.svg');
    }

    &--warning {
      background-image: url('../../images/warning.svg');
    }
  }
}