.price {
  font-family: 'TT Firs Neue';

  &__new {
    font-size: 2.8rem;
    color: $color-goods-new_price;

    span {
      font-size: 1.3rem;
    }
  }

  &__old {
    font-size: 1.3rem;
    text-decoration: line-through;
    color: $color-goods-old_price;
  }
}