.see-all {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  display: none;

  @include respond(tab-port) {
    display: flex;
  }
  
  &__link {
    padding: 1.8rem 5.5rem;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'TT Firs Neue';
    text-decoration: none;
    border-radius: 5rem;
    border: 1px solid $color-seeall_border;
    color: $color-seeall;
  }
}