.slider-control {
  display: flex;

  @include respond(tab-port) {
    display: none;
  }

  &-wrapper {
    display: flex;
    margin: 3rem auto;
    align-items: center;
    width: 100%;
    max-width: 15rem;
    justify-content: space-between;
  }

  &__arrow-left,
  &__arrow-right {
    width: 1.5rem;
    height: 1.5rem;
    background: url('../../images/arrow.svg') no-repeat center;
  }

  &__arrow-right {
    transform: rotate(180deg);
  }

  &__points {
    width: 100%;
    max-width: 4rem;
    display: flex;
    justify-content: space-between;
  }

  &__point {
    width: .6rem;
    height: .6rem;
    border-radius: 5rem;
    background-color: $color-control-bg;

    &:hover {
      background-color: $color-control-bg_hover;
    }
  }
}