.header {
  background-color: $color-header;

  a {
    color: $color-white;
  }

  &-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'TT Firs Neue';
    font-size: 1.2rem;

    > div {
      padding: 2.6rem 0;
      border-right: 1px solid $color-header-block-line;

      @include respond(tab-port) {
        border: none;
      }
    }
  }

  &__menu {
    flex-basis: 23rem;
    position: relative;
  }

  &__menu-wrapper {
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover .header__menu-burger { height: 0; }
    &:hover .header__menu-burger::before { transform: rotate(45deg) translate(0px, 5px); }
    &:hover .header__menu-burger::after { transform: rotate(-45deg) translate(0px, -5px); }
  }

  &__menu-burger {
    width: 1.4rem;
    height: .2rem;
    background-color: white;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 1.4rem;
      height: .2rem;
      background-color: $color-white;
      position: absolute;
      left: 0;
      top: .4rem;
    }

    &::before {
      top: -.4rem;
    }
  }

  &__connect {
    display: flex;
    flex-basis: 92rem;
    align-items: center;
    position: relative;

    a:not(:last-child) {
      margin-left: 5.5rem;
      position: relative;
    }
  }

  &__connect-phone {
    text-decoration: underline;
    display: inline-block;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__connect-order {
    text-decoration: none;
    display: inline-block;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__connect-question {
    text-decoration: none;
    border-bottom: 1px dashed $color-white;
    position: absolute;
    right: 2.5rem;

    @include respond(tab-land) {
      span {
        display: none;
      }
    }
  }

  &__language {
    flex-basis: 8.5rem;
    text-align: center;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__account {
    flex-basis: 14.5rem;
    text-align: center;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;

    @include respond(tab-land) {
      span {
        display: none;
      }
    }
    

    .fa {
      left: 2rem;

      @include respond(tab-land) {
        left: 25%;
        bottom: 50%;
        transform: translate(-50%, 50%);
      }
    }
  }

  &__basket {
    flex-basis: 6.5rem;
    min-width: 6rem;
    background-color: $color-header-bg-basket;
    cursor: pointer;

    @include respond(tab-port) {
      display: none;
    }
  }
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}