.fa {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  left: -3rem;
  bottom: 50%;
  transform: translateY(50%);
}

.fa-phone { background-image: url('../../images/fa-phone.svg'); }

.fa-tracking { background-image: url('../../images/fa-tracking.svg'); }

.fa-sadness { background-image: url('../../images/fa-sadness.svg'); }

.fa-user { background-image: url('../../images/fa-user.svg'); }