$color-white: white;

$color-header: #010101;
$color-header-block-line: #39393B;
$color-header-bg-basket: #6FBD63;

$color-goods: #F6F6F6;
$color-goods-text: #727175;
$color-goods-weight_border: #C2C2C2;
$color-goods-weight_text: #727175;
$color-goods-new_price: #6FBD63;
$color-goods-old_price: #C2C2C2;
$color-goods-basket: black;
$color-goods-basket_hover: rgba(0, 0, 0, 0.699);

$color-control-bg: #DCDCDC;
$color-control-bg_hover: black;

$color-seeall: black;
$color-seeall_border: rgb(153, 153, 153);